services:
  whoami:
    image: traefik/whoami
    container_name: whoami
    restart: unless-stopped
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami-web.rule=Host(`whoami.${DEV_DOMAIN}`)"
      - "traefik.http.routers.whoami-web.entrypoints=web"
      - "traefik.http.routers.whoami-web.middlewares=${HTTP_TO_HTTPS_MIDDLEWARE:-redirect-to-https@file}"
      - "traefik.http.routers.whoami-websecure.rule=Host(`whoami.${DEV_DOMAIN}`)"
      - "traefik.http.routers.whoami-websecure.entrypoints=websecure"
      - "traefik.http.routers.whoami-websecure.service=whoami-service"
      - "traefik.http.routers.whoami-websecure.tls=true"
      - "traefik.http.routers.whoami-websecure.tls.certresolver=${TLS_CERT_RESOLVER:-}"
      - "traefik.http.services.whoami-service.loadbalancer.server.port=80"
      - "traefik.http.routers.whoami-websecure.middlewares=security-headers@file"
