services:
  bind:
    image: internetsystemsconsortium/bind9:9.18
    container_name: bind
    profiles:
      - bind
    restart: unless-stopped
    networks:
      - proxy
    ports:
      - "${BIND_BIND_ADDRESS:-127.0.0.1}:53:53/udp"
      - "${BIND_BIND_ADDRESS:-127.0.0.1}:53:53/tcp"
    environment:
      - BASE_DOMAIN=${BASE_DOMAIN}
    volumes:
      - ./services/dns-bind/config:/etc/bind
      - ./services/dns-bind/zones:/etc/bind/zones
    command: >
      /bin/sh -c "sed \"s/__BASE_DOMAIN__/${BASE_DOMAIN}/g\" /etc/bind/named.conf.template > /etc/bind/named.conf
      && named -g -c /etc/bind/named.conf"
