# Example htpasswd file for the DNS UI (BasicAuth)
# Generate your own and save as traefik/auth/dns-ui.htpasswd
# Example command: htpasswd -nbB admin 'change-me'
admin:$apr1$hw28wyTA$Wzhp5bIatt1/CAeE.PyNz.
