version: '3.8'

services:
  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    profiles:
      - le
    volumes:
      - ./services/certbot/conf:/etc/letsencrypt
      - ./services/certbot/www:/var/www/certbot
    command: ["tail", "-f", "/dev/null"]
